<!-- <div class="bg-black w-full h-full container mx-auto">
  <!-- <input class="block w-full rounded-md border-0 px-2 py-4 text-gray-900" /> -->
<!-- </div> -->

<!-- class="block w-full rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1
 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset
 focus:ring-indigo-600 sm:text-sm sm:leading-6" -->

<div
  class="absolute top-0 z-[-2] h-screen w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
></div>
<!--
// v0 by Vercel.
// https://v0.dev/t/MrfL78kgcv6
-->

<div
  class="flex min-h-screen items-center justify-center bg-[#1a1a1a] px-4 py-12 sm:px-6 lg:px-8"
>
  <div class="w-full max-w-md space-y-8">
    <div>
      <h2
        class="mt-6 text-center text-3xl font-bold tracking-tight text-white font-mono"
      >
        Join the Arcade
      </h2>
    </div>
    <form class="mt-8 space-y-6" action="#" method="POST">
      <div class="-space-y-px rounded-md shadow-sm">
        <div>
          <label for="name" class="sr-only"> Name </label>
          <input
            id="name"
            autocomplete="name"
            required=""
            class="relative block w-full appearance-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            placeholder="Name"
            type="text"
            name="name"
          />
        </div>
        <div>
          <label for="email-address" class="sr-only"> Email address </label>
          <input
            id="email-address"
            autocomplete="email"
            required=""
            class="relative block w-full appearance-none border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            placeholder="Email address"
            type="email"
            name="email"
          />
        </div>
        <div>
          <label for="password" class="sr-only"> Password </label>
          <input
            id="password"
            autocomplete="current-password"
            required=""
            class="relative block w-full appearance-none rounded-b-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            placeholder="Password"
            type="password"
            name="password"
          />
        </div>
      </div>
      <div>
        <button
          type="submit"
          class="group relative flex w-full justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
        >
          <span class="absolute inset-y-0 left-0 flex items-center pl-3">
            <svg
              class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </span>
          Sign Up
        </button>
      </div>
    </form>
  </div>
</div>

<!-- <div
  class="bg-zinc-700 min-h-full flex-col flex justify-center px-6 py-12 lg:px-8 font-mono text-zinc-100"
>
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <h2 class="text-3xl font-extrabold text-center text-zinc-100">
      Create an account
    </h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-md space-y-6">
    <div>
      <label for="email" class="block text-sm font-medium leading-6"
        >Email address</label
      >
      <div class="mt-2">
        <input
          id="email"
          name="email"
          type="email"
          autocomplete="email"
          placeholder="Email"
          required
          class="bg-zinc-950 block w-full font-light text-sm rounded-md border-0 p-2 leading-6 focus:outline-none placeholder:text-gray-500 ring-1 ring-inset ring-zinc-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600"
        />
      </div>
    </div>

    <div>
      <label for="email" class="block text-sm font-medium leading-6"
        >Email address</label
      >
      <div class="mt-2">
        <input
          id="email"
          name="email"
          type="email"
          autocomplete="email"
          placeholder="Email"
          required
          class="bg-zinc-950 block w-full font-light text-sm rounded-md border-0 p-2 leading-6 focus:outline-none placeholder:text-gray-500 ring-1 ring-inset ring-zinc-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600"
        />
      </div>
    </div>
  </div>
</div> -->
